table.pghdr  {
	width :  100%;
	cursor :  default;
	border-collapse :  separate;
}
table.pghdr td.pghdrrow  {
	height :  26px;
	padding :  2px;
	vertical-align :  middle;
}
table.pghdr td.logo  {
	width :  2%;
	padding :  0 5px;
	border-left :  1px solid #fff;
	border-bottom :  1px solid #777;
	text-align :  center;
}
table.pghdrmps  {
	width :  100%;
	cursor :  default;
}
table.pghdrmps td.pghdrrow  {
	height :  26px;
	padding :  2px;
	vertical-align :  middle;
}
table.pghdrmps td.logo  {
	width :  2%;
	padding :  0 5px;
	text-align :  center;
}
table.hdrt  {
	width :  100%;
}
table.hdrt td  {
	padding :  0 2px 0 2px;
	vertical-align :  middle;
	white-space :  nowrap;
}
table.hdrt td.hdrto  {
	border-right :  1px solid #777;
	border-left :  1px solid #fff;
}
table.hdrt td.hdrwbu  {
	width :  85%;
	text-align :  right;
	padding :  0px 3px 0px 3px;
	border-right :  #777 1px solid;
	vertical-align :  middle;
	border-left :  #fff 1px solid;
	white-space :  nowrap;
}
table.hdrt td.hdrtw  {
	width :  100%;
	text-align :  right;
	padding :  0px 2px 0px 2px;
	vertical-align :  middle;
	white-space :  nowrap;
	text-align :  right;
}
.name  {
	font-weight :  bold;
}
table.hdrt td.phtopicon  {
	padding :  0px 2px 0px 2px;
	vertical-align :  middle;
	white-space :  nowrap;
	border-right :  none;
	border-left :  none;
}
table.hdrt td.phtopicon1  {
	padding :  0px 2px 0px 2px;
	vertical-align :  middle;
	white-space :  nowrap;
	border-left :  #fff 1px solid;
	border-right :  none;
}
table.hdrt td.phtopicon3  {
	padding :  0px 4px 0px 2px;
	vertical-align :  middle;
	white-space :  nowrap;
	border-right :  #777 1px solid;
	border-left :  none;
}
table.hdrt td.phtopicon2  {
	padding :  0px 2px 0px 2px;
	vertical-align :  middle;
	white-space :  nowrap;
	border :  none;
	width :  16px;
}
.phicon , .phback  {
	border :  transparent 1px solid;
	display :  block;
	padding :  2px;
	height :  16px;
	background-color :  transparent;
	outline :  none;
}
.phicon:focus , .phback:focus , .phicon:active , .phback:active , .phicon:hover , .phback:hover  {
	border-color :  #ffbd69;
	background :  #ffe399;
}
.phback  {
	height :  auto;
	padding :  1px;
}
.phlink , .phlink:link , phlink:visited , phlink:active , phlink:focus  {
	color :  #00f;
}
.phbtmback  {
	padding-left :  6px;
	padding-right :  3px;
	border-right :  #666 1px solid;
	vertical-align :  middle;
}
span.backButtonDiv  {
	padding-right :  0px;
	padding-left :  0px;
}
DIV.filterRightBorder  {
	float :  left;
	padding :  0 6px 0 0;
	margin :  0 0 3px 0;
	white-space :  nowrap;
}
DIV.filterRightNoBorder  {
	display :  inline;
	white-space :  nowrap;
	vertical-align :  middle;
	margin-bottom :  2px;
}
DIV.filterRightNoBorder INPUT  {
	margin :  2px 5px 0px;
	vertical-align :  middle;
}
DIV.filterDiv  {
	BACKGROUND :  url(../images/bgfilter.jpg) #ebebeb repeat-x 50% top;
	BORDER-BOTTOM :  #ccc 1px solid;
	padding-top :  2px;
	padding-bottom :  2px;
}
TABLE.filterTbl span.notRequired  {
	padding :  0px;
}
TABLE.filterTbl TD  {
	padding :  0 6px 0 6px;
	border-left :  1px solid #fff;
	vertical-align :  middle;
	white-space :  normal;
}
TABLE.filterTbl TD.filtermode  {
	border-right :  1px solid #777;
	vertical-align :  middle;
	white-space :  nowrap;
}
TABLE.filterTbl TD.filtermode DIV.QFSFDiv:hover  {
	BORDER :  #ffbd69 1px solid;
	background :  #FFE399;
	cursor :  pointer;
}
TABLE.filterTbl TD.filtermode DIV.QFSFDiv  {
	BORDER :  transparent 1px solid;
	vertical-align :  middle;
}
TABLE.filterTbl TD.filtermodeTop  {
	border-right :  1px solid #777;
	vertical-align :  top;
	white-space :  nowrap;
}
TABLE.filterTbl TD DIV.captionLeftNoWrap SPAN.notRequired  {
}
TABLE.filterTbl TD DIV.captionLeftNoWrap  {
	vertical-align :  middle;
}
TABLE.filterTbl TD DIV SPAN.captionData  {
	vertical-align :  middle;
	font-weight :  normal;
}
.fltrDownArrowClass  {
	padding-bottom :  4px;
	padding-left :  4px;
	vertical-align :  middle;
}
TABLE.filterTbl TABLE.fltrDateOnlyComp TD  {
	padding :  0px;
}
DIV.translucentLayer  {
	width :  500px;
	height :  800px;
	filter :  alpha(opacity=80);
	-moz-opacity :  0.05;
	opacity :  0.05;
	left :  0px;
	position :  absolute;
	top :  0px;
	z-index :  1;
	visibility :  hidden;
}
*#mainMenu  {
	z-index :  100;
}
*#mainMenu > .mpophdr  {
	padding-top :  8px;
	padding-bottom :  0;
	background-image :  none;
}
.mmfind , .mmfindfocus  {
	margin :  0 30px 0 0;
	padding :  4px 2px 0;
	border :  1px solid transparent;
	background :  transparent none;
	outline :  none;
	vertical-align :  top;
}
.mmfind:hover , .mmfindfocus  {
	border-color :  #ffbd69;
	background :  #FFE399 url(/lps/resources/common/images/bgfocus.png) repeat-x top;
}
*#mainMenu .mpopcon  {
	overflow :  auto;
	display :  none;
}
.mpopcon > .mm-table  {
	margin :  0;
	padding-top :  5px;
}
.mpopcon > .mm-table td  {
	padding :  0 3em 2px 5px;
	white-space :  nowrap;
	vertical-align :  top;
}
.mmtop  {
	padding :  7px 5px 0;
	display :  block;
}
.mmsub  {
	padding :  0 8px;
}
.mmhdg  {
	margin :  0 0 1px;
	padding :  0 1em 0 1px;
	border-bottom :  1px solid #ccc;
	font-size :  103%;
	font-weight :  bold;
}
.mmsub > .mmhdg  {
	font-size :  100%;
}
.mmopt , .mmopt:link , .mmopt:visited  {
	display :  block;
	margin :  0;
	padding :  1px 7px;
	color :  black;
	text-decoration :  none;
	border :  1px solid transparent;
	background :  none;
	outline :  none;
}
.mmopt:hover  {
}
.mmlogo  {
	padding :  0 5px;
	text-align :  right;
	color :  #113377;
	font-size :  17px;
	font-weight :  bold;
}
.mmlogo > span  {
	font-size :  12px;
	font-weight :  bold;
}
.mmlogo > span > sub  {
	font-size :  10px;
	vertical-align :  baseline;
}
.mtabs  {
	margin :  0;
	padding :  0;
	display :  inline;
}
.tbpnltabsout > .mtabs  {
	position :  relative;
	margin :  0 0 0 0px;
}
.mtabs td  {
	vertical-align :  bottom;
}
.mtabs td > div.mdummtab  {
	width :  50px;
}
.mtab , .mtabsep , .mtabon  {
	display :  inline;
	height :  1px;
	margin :  0px;
	padding :  0px;
	vertical-align :  bottom;
}
.mtab > span , .mtabsep > span , .mtabon > span  {
	display :  moz-inline-stack;
	display :  inline-block;
	position :  relative;
	margin :  0;
	padding :  0px;
	background :  url(/lps/resources/common/images/bgtabrt.png) no-repeat right -300px;
	vertical-align :  bottom;
	bottom :  0;
}
.mtab > span > a , .mtabsep > span > a , .mtabon > span > a  {
	display :  moz-inline-stack;
	display :  inline-block;
	position :  relative;
	padding :  3px 14px 1px 10px;
	background :  url(/lps/resources/common/images/bgtablt.png) no-repeat left -300px;
	color :  #000;
	white-space :  nowrap;
	text-decoration :  none;
	outline :  none;
}
.mtab > span:hover , .mtabsep > span:hover  {
	background-position :  right -450px;
}
.mtab > span > a:hover , .mtabsep > span > a:hover  {
	background-position :  left -450px;
}
.mtabon > span , .mtabon > span:hover  {
	top :  1px;
	background-position :  right 0px;
	z-index :  1;
}
.mtabon > span > a  {
	padding-bottom :  4px;
	background-position :  left 0px;
	cursor :  default;
}
.mtabon > span > a:hover  {
	background-position :  left 0px;
}
.syncmultisel  {
	border :  1px solid black;
}
.syncmultiseldiv  {
	border :  1px solid #dfe8f6;
}
.mtabsyncplnbdr > .tbpnltabsout .mtabon > span  {
	top :  3px;
	background-position :  right -150px;
}
.mtabsyncplnbdr > .tbpnltabsout .mtabon > span > a  {
	padding-bottom :  7px;
	background-position :  left -150px;
}
.mtabsep  {
	margin-left :  15px;
}
.mtabplnbdr  {
	border-left :  1px solid #fff;
	background-color :  white;
}
div.tabpnlout  {
	padding-right :  1px;
	position :  relative;
}
.mtabpnlbody  {
	border-width :  0px 1px 1px 1px;
	border-style :  solid;
	position :  relative;
	padding-right :  5px;
}
.mtabsyncpnlbody  {
	position :  relative;
	padding-right :  5px;
	border :  1px solid;
}
.tabpnlconttable  {
	position :  relative;
	border :  0px;
	margin :  0px;
	padding :  0px;
	padding-bottom :  2px;
}
.mtabpnlscroll  {
	border :  0px;
	position :  relative;
	margin :  0px;
	width :  auto;
	overflow :  hidden;
}
div.mtabsyncplnbdr , .mtabplnbdr  {
	clear :  both;
	position :  relative;
	border :  transparent;
}
.mpop  {
	position :  absolute;
	z-index :  9000;
	margin :  0;
	padding :  0;
	border :  1px solid;
	white-space :  nowrap;
}
.mpopsdw  {
	position :  absolute;
	bottom :  -4px;
	right :  -4px;
	z-index :  -1000;
	height :  100%;
	width :  100%;
	margin :  0px 0px;
	padding :  0px 0px;
	background-color :  black;
}
.mpophdr  {
	padding :  0px 4px 0px 8px;
	border-top :  0px solid #fff;
	border-left :  0px solid #fff;
	text-align :  left;
}
.mpoptitle  {
	font-weight :  bold;
	min-height :  17px;
	white-space :  nowrap;
}
.mpoptitle > img  {
	margin :  1px 4px 0 0;
	vertical-align :  top;
}
.mpopclose  {
	cursor :  pointer;
	position :  absolute;
	top :  3px;
	right :  3px;
}
.mpopbdr  {
	padding :  0 4px 4px;
	border-left :  1px solid #fff;
}
.mpopbody  {
	border :  1px solid;
}
.mpopcon > p  {
	padding :  5px 8px;
}
.mpopcon > table  {
	margin :  5px 3px;
}
.mpopcon > table > tbody > tr > td  {
	padding :  2px 5px;
	white-space :  nowrap;
}
.sep > td  {
	padding-top :  0.8em;
}
.mpopcon .pnlhdr  {
	margin-left :  5px;
}
.mpopfindin  {
	vertical-align :  bottom;
}
.mpopfindin > input  {
	width :  14em;
	margin-right :  2px;
	padding :  0.19em;
}
.mpopfindout  {
	width :  17em;
}
.mpopftr  {
	padding :  4px 1px 3px;
	border-top :  1px solid #ddd;
	background-color :  #f0f0f0;
	text-align :  right;
}
.sidenavcont  {
	margin :  0px;
	padding :  0px;
	overflow :  auto;
	vertical-align :  top;
	border :  1px solid #999;
	background-color :  #F1F9FF;
}
.sidenavcont *  {
	vertical-align :  middle;
}
.sidenavcont img  {
	border :  none;
}
.navnode  {
	border :  0px;
	padding :  0px;
	margin :  0 0 0 20px;
	display :  block;
}
.snfldnode a , .snfldnode a:link , .snfldnode a:visited , .snfldnode a:active  {
	height :  100%;
	padding :  0px;
	border :  none;
	background :  transparent none;
	color :  #000 !important;
	text-decoration :  none;
	font-weight :  bold;
}
.snleafnode  {
	margin :  0 0 2px 22px;
}
.snleafnode a , .snleafnode a:link , .snleafnode a:visited , .snleafnode a:active  {
	padding :  0 0px -1px 0;
	marginBottom :  2px;
	border :  1px solid #F1F9FF;
	color :  #000 !important;
	text-decoration :  none;
}
.snleafnode a:hover , .snleafnode.a:active  {
	border-color :  #777;
	background-color :  #fff;
}
.snleafnode * , .snfldnode *  {
	white-space :  nowrap;
}
div.seph  {
	width :  5px;
	background-color :  #eee;
	cursor :  col-resize;
	position :  absolute;
	right :  0px;
	top :  0px;
	bottom :  0px;
}
div.seph img  {
	position :  relative;
	top :  48%;
}
div.sephdrag  {
	width :  5px;
	background-color :  black;
	cursor :  col-resize;
	position :  absolute;
	right :  0px;
	top :  0px;
	bottom :  0px;
}
div.sephdrag img  {
	display :  none;
}
.snavfind  {
	cursor :  pointer;
	position :  absolute;
	top :  5px;
	right :  27px;
	background :  transparent none;
	outline :  none;
}
.snmastercont  {
	position :  relative;
	z-index :  5;
}
.colrezcur  {
	cursor :  col-resize;
}
.posrel  {
	position :  relative;
	overflow :  auto;
}
.synclstmn  {
	border :  0px;
	padding :  0px;
	margin :  0px;
}
.synctable  {
	border :  0px;
	margin :  auto;
	position :  relative;
	width :  100%;
}
.syncflttd  {
	width :  100%;
}
.synclsttdH  {
	vertical-align :  top;
	width :  50%;
}
div.synccontout  {
	padding :  0px 0px 10px 0px;
	border :  0px;
	margin :  0px;
	overflow :  visible;
}
.synclsttdH > div.synccontout  {
}
.syncdettdH  {
	vertical-align :  top;
	width :  50%;
	padding :  15px;
}
.syncdettdH > div.synccontout  {
	position :  relative;
}
.synclsttdV  {
	vertical-align :  top;
	width :  100%;
}
.synclsttdV > div.synccontout  {
}
.syncdettdV  {
	vertical-align :  top;
	width :  100%;
	padding :  0px 10px 0px 0px;
}
.syncdettdV > div.synccontout  {
	position :  relative;
}
td.syncsepV  {
	position :  relative;
}
td.syncsepH  {
	position :  absolute;
	height :  100%;
}
td.syncsepV > div.syncsephld  {
	height :  15px;
	background :  transparent;
	position :  relative;
}
td.syncsepH > div.syncsephld  {
	width :  15px;
	background :  transparent;
	position :  relative;
}
td.syncsepV > div.syncsepdiv  {
	height :  5px;
	background-color :  #eee;
	position :  relative;
	left :  0px;
	right :  0px;
	top :  -4px;
	bottom :  0px;
}
td.syncsepH > div.syncsepdiv  {
	width :  5px;
	background-color :  #eee;
	left :  5px;
	right :  0px;
	top :  0px;
	bottom :  0px;
	position :  absolute;
}
.synctabpnnav  {
	margin :  0px 10px 0px 0px;
}
.synctabpnnav img  {
	margin :  2px;
}
.sytpnavup  {
	display :  none;
}
.sytpnavupd  {
	opacity :  0.4;
	filter :  alpha(opacity=40);
}
.sytpnavdn  {
	display :  none;
}
.sytpnavdnd  {
	opacity :  0.4;
	filter :  alpha(opacity=40);
}
.sytpnavup , .sytpnavupd , .sytpnavdn , .sytpnavdnd  {
	margin :  2px;
	height :  16px;
	width :  16px;
}
.asbasspli  {
	text-decoration :  none;
	white-space :  nowrap;
}
.asbasselspli  {
	background :  #FFE399;
	text-decoration :  none;
	white-space :  nowrap;
}
.asbasselspli a , .asbasspli a  {
	text-decoration :  none;
}
.asbasspli , .asbasselspli  {
	cursor :  pointer;
}
.asbasout  {
	margin :  0px;
	border :  0px;
	padding :  0px;
}
.asbasdd  {
	position :  absolute;
	border :  1px solid black;
	padding :  0px 20px 0px 2px;
	display :  none;
	z-index :  100000;
	background :  white;
	overflow-y :  scroll;
	overflow-x :  hidden;
	min-height :  20px;
}
input.asbasinp , input.asbasinpnoimg  {
	margin :  0px;
	height :  16px;
	border :  1px solid #7f9db9;
}
input.asbasinp  {
	border-right :  none;
}
.asbasdwndiv  {
	background :  white;
	width :  18px;
	height :  17px;
	border :  1px solid #7f9db9;
	border-left :  0px;
	padding :  1px 0px 0px 0px;
	margin :  0px;
	vertical-align :  middle;
	text-align :  center;
}
.asbasdwndiv > img  {
	height :  16px;
	width :  16px;
}
ol.asbasddol  {
	margin-left :  0px;
}
ol.asbasddol > li  {
	margin-left :  0px;
	list-style :  none none;
}
ol.asbasddol > li > div  {
	display :  block;
}
div.mpopfnd1  {
	z-index :  1;
	padding :  5px 50px 0 5px;
}
table.detnavtbl  {
	border :  0px;
	border-spacing :  0px;
}
table.detnavtbl td  {
	border :  0px;
	padding :  0px;
	margin :  0px;
}
table.detnavtbl td > input[type="text"]  {
	height :  14px;
	padding :  0px;
	margin :  0px;
}
table.detnavtbl td > input[type="image"]  {
	height :  16px;
	border :  0px;
	padding :  0px;
	margin :  0px;
}
table.detnavtbl td > span  {
	border :  0px;
	padding :  0px;
	margin :  0px;
	vertical-align :  bottom;
	line-height :  20px;
}
table.detnavtbl td > a  {
	border :  0px;
	padding :  0px;
	margin :  0px;
}
table.detnavtbl td > a > img  {
	height :  15px;
	border :  0px;
	padding :  0px;
	margin :  0px;
	vertical-align :  bottom;
}
table.fltrsmanycont td  {
	margin :  0px;
	padding :  0px;
	border :  0px;
}
table.fltrsmanycont  {
	display :  inline-block;
	vertical-align :  -5px;
}
.mtabpnlfoot  {
	background-color :  #DCDCDC;
	overflow :  hidden;
}
.asbasout td.asbinptd  {
	border :  0px;
	padding :  0px;
}
.tabcolhidden  {
	display :  none;
	width :  0px;
}
.pnlheader  {
	width :  97%;
	white-space :  nowrap;
}
.pnlhdrsepln  {
	background :  transparent url(../../panel/images/rule1.gif) repeat-x center;
	width :  100%;
}
.pnlhdrchcont  {
	FONT-WEIGHT :  normal;
	white-space :  nowrap;
}
.filterDetailPopup  {
	width :  auto;
	max-height :  350px;
	overflow :  auto;
	margin :  auto;
}
span.dtddropdown  {
	whitespace :  no-wrap;
	display :  inline-block;
	vertical-align :  middle;
}
.emptyHoriScrollDiv  {
	height :  0px;
}
.advtbl_contr  {
	position :  relative;
	overflow :  hidden;
	z-index :  1;
	padding-bottom :  2px;
	font-size :  11px;
	font-weight :  normal;
}
.datatbl_contr  {
	position :  relative;
	overflow :  hidden;
	z-index :  1;
	padding-bottom :  2px;
	font-size :  11px;
	font-weight :  normal;
}
.advtbl_scrollDiv  {
	top :  0px;
	left :  0px;
	position :  absolute;
	overflow :  auto;
	z-index :  -1;
}
.advtbl_row  {
	PADDING-RIGHT :  5px;
	PADDING-LEFT :  5px;
	BORDER-BOTTOM-WIDTH :  0px;
	PADDING-BOTTOM :  0px;
	MARGIN :  0px;
	VERTICAL-ALIGN :  top;
	PADDING-TOP :  0px;
}
.advtbl_col  {
	vertical-align :  baseline;
	PADDING-RIGHT :  6px;
	PADDING-LEFT :  6px;
	PADDING-BOTTOM :  2px;
	MARGIN :  0px;
	CURSOR :  default;
	PADDING-TOP :  2px;
	overflow :  hidden;
	text-shadow :  0 1px 0 rgba(255,255,255,0.3);
}
.advtbl_hdr_row  {
	CURSOR :  default;
}
.NotSortCol  {
	CURSOR :  default;
	PADDING-TOP :  6px;
}
.tbl_checkBox  {
	PADDING-RIGHT :  2px;
	PADDING-LEFT :  2px;
	PADDING-BOTTOM :  1px;
	PADDING-TOP :  2px;
	TEXT-ALIGN :  center;
}
.sortColSorted  {
	PADDING-TOP :  2px;
}
.sortCol  {
	CURSOR :  pointer;
	PADDING-TOP :  6px;
}
.NotSortCol  {
	PADDING-TOP :  6px;
}
.trhide  {
	DISPLAY :  none;
	VISIBILITY :  hidden;
}
.trshow  {
	display :  table-row;
	VISIBILITY :  visible;
}
.tdhide  {
	DISPLAY :  none;
	VISIBILITY :  hidden;
}
.tdshow  {
	display :  table-cell;
	VISIBILITY :  visible;
}
.dshow  {
	DISPLAY :  block;
	VISIBILITY :  visible;
}
.dhide  {
	DISPLAY :  none;
	VISIBILITY :  hidden;
}
.emptyHoriScrollDiv  {
	height :  0px;
}
.tbl_colHidden  {
	display :  none;
	visibility :  collapse;
	width :  0px;
}
.wrap-column-header  {
	white-space :  normal;
}
.tr_disabled  {
	color :  #8E98AF;
	cursor :  default;
	text-decoration :  none;
}
.fltr_rightBdr  {
	float :  left;
	padding :  0 6px 0 3px;
	margin :  2px 0 3px 0;
	white-space :  nowrap;
	vertical-align :  top;
}
.notRequired  {
	padding :  0px;
}
.fltr_tbl  {
	padding :  0 6px 0 6px;
	border-left :  1px solid #fff;
	vertical-align :  middle;
	white-space :  normal;
}
.fltr_tbl_tdmode  {
	border-right :  1px solid #777;
	vertical-align :  middle;
	white-space :  normal;
}
.fltr_qfDiv  {
	vertical-align :  middle;
	white-space :  nowrap;
	padding :  2px 5px 5px 8px;
}
.fltr_tbl_tdmodeTop  {
	border-right :  1px solid #777;
	vertical-align :  top;
	white-space :  nowrap;
}
.fltr_dateComp  {
	padding :  0px;
}
.fltr_capShow  {
	visibility :  visible;
	display :  block;
}
.fltr_capHide  {
	visibility :  hidden;
	display :  none;
}
TABLE.fltr_tbl TD DIV SPAN.captionData  {
	font-weight :  normal;
}
a.disabled  {
	padding :  2px;
	border :  1px solid transparent;
	vertical-align :  middle;
	color :  #8E98AF;
	cursor :  default;
	text-decoration :  none;
	background :  transparent;
	pointer-events :  none;
}
a.disabled > img  {
	display :  inline-block;
	height :  16px;
	margin-right :  8px;
	vertical-align :  middle;
	width :  16px;
}
img.disabled  {
	opacity :  0.4;
	filter :  alpha(opacity=40);
	zoom :  1;
	color :  #8E98AF;
	cursor :  default;
	background :  transparent;
	pointer-events :  none;
	display :  inline-block;
}
.tab_top  {
	top :  0px;
}
.tab_sel_top  {
	top :  0px;
}
.groupBtn  {
	margin-right :  0px !important;
}
.groupBtn-arrow  {
	font-size :  11px !important;
	padding-left :  2px !important;
	margin-left :  0px;
}
.filter-column-btn  {
	cursor :  hand;
	background-color :  white;
	margin-left :  5px;
	margin-top :  2px;
	border-color :  white;
}
.filter-column-text  {
	cursor :  default;
}
.multiselectFilterOperator  {
	vertical-align :  baseline;
}
