Ext.define("Manh.mps.custom.print.GridPanelRenderer",
{
	extend:'Manh.mps.custom.print.BaseRenderer',
	requires : 'Ext.XTemplate',

	htmlCls : 'ux-grid-printer',
	
	stylesheetPath: '/manh/mps/resources/css/GridPrint.css',
	
	/**
	 * Generates the body HTML for the grid
	 * 
	 * @param {Ext.grid.GridPanel}
	 *            grid The grid to print
	 */
	generateBody : function(grid)
	{
		var columns = this.getColumns(grid);

		// use the headerTpl and bodyTpl XTemplates to create the main XTemplate
		// below
		var headings = this.headerTpl.apply(columns);
		var body = this.bodyTpl.apply(columns);
		
		return Ext.String.format('<table><tr>{0}</tr><tpl for="."><tr class="{[xindex % 2 === 0 ? "even" : "odd"]}">{1}</tr></tpl></table>',
				headings, body);
	},

	/**
	 * Prepares data from the grid for use in the XTemplate
	 * 
	 * @param {Ext.grid.GridPanel}
	 *            grid The grid panel
	 * @return {Array} Data suitable for use in the XTemplate
	 */
	prepareData : function(grid)
	{
		// We generate an XTemplate here by using 2 intermediary XTemplates -
		// one to create the header,
		// the other to create the body (see the escaped {} below)
		var columns = this.getColumns(grid);

		// build a useable array of store data for the XTemplate
		var data = [];

		grid.store.data.each(function(item, row) {
            var convertedData = {};

            //apply renderers from column model
            for (var key in item.data) {
                var value = item.data[key];

                Ext.each(columns, function(column, col) {
					
                    if (column && column.dataIndex == key) {

                        /*
                         * TODO: add the meta to template
                         */
                        var meta = {item: '', tdAttr: '', style: '', column: column};
                        value = column.renderer ? column.renderer.call(grid, value, meta, item, row, col, grid.store, grid.view) : value;
                        convertedData[column.id] = value;
						
                    } else if (column && column.xtype === 'rownumberer'){
						
                        convertedData[column.id] = (row + 1);
						
					} else if (column && column.xtype === 'templatecolumn'){
						
						value = column.tpl ? column.tpl.apply(item.data) : value;
						
                        convertedData[column.id] = value;
						
					} 
                }, this);
            }
			data.push(convertedData);
		});

		return data;
	},

	/**
	 * Returns the array of columns from a grid
	 * 
	 * @param {Ext.grid.GridPanel}
	 *            grid The grid to get columns from
	 * @return {Array} The array of grid columns
	 */
	getColumns : function(grid)
	{
		var columns = [], gridColumns = [];
		if(grid.lockedGrid) {
		    gridColumns = gridColumns.concat(grid.lockedGrid.columns).concat(grid.normalGrid.columns);
		} else {
			if(grid.columns.length > 0) {
				gridColumns = grid.columns;
			} else {
				gridColumns = grid.getColumnManager().columns;
			}
		}		    
		
        Ext.each(gridColumns, function(c) {
            if(c.items.length > 0) {
                columns = columns.concat(c.items.items);
            } else {
                columns.push(c);
            }
        });
        var clearColumns = [];
        Ext.each(columns, function (column) {
            if ((column) && (!Ext.isEmpty(column.dataIndex) && !column.hidden)) {
                clearColumns.push(column);
            } else	if (column && column.xtype === 'rownumberer'){
				column.text = 'Row';
				clearColumns.push(column);
			} else if (column && column.xtype === 'templatecolumn'){
				clearColumns.push(column);
			}	
        });
        columns = clearColumns;        

		return columns;
	},

	/**
	 * @property headerTpl
	 * @type Ext.XTemplate The XTemplate used to create the headings row. By
	 *       default this just uses
	 *       <th> elements, override to provide your own
	 */
	headerTpl : new Ext.XTemplate('<tr>', '<tpl for=".">', '<th>{text}</th>',
			'</tpl>', '</tr>'),

	/**
	 * @property bodyTpl
	 * @type Ext.XTemplate The XTemplate used to create each row. This is used
	 *       inside the 'print' function to build another XTemplate, to which
	 *       the data are then applied (see the escaped dataIndex attribute here -
	 *       this ends up as "{dataIndex}")
	 */
	bodyTpl : new Ext.XTemplate('<tr>', '<tpl for=".">',
			'<td>\{{id}\}</td>', '</tpl>', '</tr>')

});