/* 
 * DS-UX - Fonts - begin
 */

.olm-main-text-font {
	font: normal 12px "Segoe UI" !important;
}

.olm-main-text-color {
	color: rgba(0, 0, 0, 0.8);
}

.olm-main-text {
	font: normal 12px "Segoe UI" !important;
	color: rgba(0, 0, 0, 0.8);
	display: block; 	
	line-height: 15px !important;
}

.olm-disp-field-text {
	font: normal 12px "Segoe UI" !important;
	color: rgba(0, 0, 0, 0.8);
	display: block; 	
	line-height: 15px !important;
	white-space: nowrap;
}

.olm-main-text-label {
 
	font: italic 12px "Segoe UI" !important;
	color: rgba(0, 0, 0, 0.6);
	display: block;
}

.olm-main-text-black {
	font: normal 12px "Segoe UI" !important;
	color: rgb(0, 0, 0);
	line-height : 15px !important;
}

.olm-field-text-black {
	font: normal 12px "Segoe UI" !important;
	color: rgb(0, 0, 0);
}

.olm-field-text-grey {
	font: normal 12px "Segoe UI" !important;
	color: #333333;
	line-height: 15px !important;
}

.olm-field-text-font {
	font: normal 12px "Segoe UI" !important;
}

.olm-field-text-color {
	color: #333333;
}

.olm-field-text-grey-subscript {
	font: bold 8px "Segoe UI" !important;
	color: #333333;
}

.olm-field-bold-text-black {
	font: bold 12px "Segoe UI" !important;
	color: rgb(0, 0, 0);
	line-height: 15px !important;
}

.olm-field-bold-text-purple {
	font: bold 12px "Segoe UI" !important;
	color: rgb(82, 46, 145);
}

.olm-search-icon-label {
	font: normal 12px "Segoe UI" !important;
	color: rgba(0, 0, 0, 0.7);
}

.olm-main-text-heading {
	font: bold 11px "Segoe UI" !important;
	color: rgb(0, 0, 0);
}
/*Adding more selector weight so that it can be applied to a button's text */
.olm-main-text-heading .x-btn-inner {
	font-weight: bold !important;
}

.olm-main-text-heading-top {
	font: bold 11px "Segoe UI" !important;
	color: rgb(0, 0, 0);
}

.olm-details-text {
	font: bold 15px "Segoe UI" !important;
	color: rgb(0, 0, 0);
	display: block;
	white-space: nowrap;
}

.olm-header-details-text {
	font: normal 18px "Segoe UI" !important;
	color: white;
}
.olm-blue-color {
	color: #009DDC;
}
.olm-os-main-heading-text {
	font: normal 24px "Segoe UI" !important;
	color: green;
}
.olm-os-heading-text {
	color: white;
	font: normal 20px "Segoe UI" !important;
}
.olm-os-sub-heading-text {
	color: white;
	font: normal 16px "Segoe UI" !important;
}
.olm-os-message-text {
	font: italic 12px "Segoe UI" !important;
	color: black;
}
.olm-os-message-bold-text {
	font: italic bold 12px "Segoe UI" !important;
	color: black;
}
.olm-search-field-text {
	font: normal 11px "Segoe UI" !important;
	color: rgb(0, 0, 0);
}

.olm-screen-title {
	font: normal 36px "Segoe UI" !important;
	white-space: nowrap;
}

.olm-purple-color {
	color: rgb(82, 46, 145);
}

.olm-item-heading {
	font: normal 18px "Segoe UI" !important;
	white-space: wrap;
	color: rgb(0, 0, 0);
}

.olm-button-text {
	font: bold 12px "Segoe UI" !important;
	color: rgb(255, 255, 255);
}

.olm-app-header {
	font: normal 12px "Segoe UI" !important;
	color: rgb(255, 255, 255);
}


.olm-customer-card-name {
	font: bold 12px "Segoe UI" !important;
	color: rgb(0, 0, 0);
}

.olm-main-text-bold {
	font: bold 11px "Segoe UI" !important;
	color: rgba(0, 0, 0, 0.6);
}

.olm-main-text-heading-green {
	font: bold 11px "Segoe UI" !important;
	color: rgb(50, 150, 50);
}

.olm-main-text-heading-red {
	font: bold 11px "Segoe UI" !important;
	color: rgb(235, 34, 34);
}

.olm-main-heading-text {
	font: normal 20px "Segoe UI" !important;
	color: rgb(0, 0, 0);
}

.olm-sub-heading-text-bold {
	font: bold 13px "Segoe UI" !important;
}

.olm-footer-summary-text {
	font: bold 14px "Segoe UI" !important;
}

.olm-sub-heading-text-semi-bold {
	font: 13px "Segoe UI" !important;
	/*Segoe UI Semibold doesn't work in firefox ,so providing equivalent font-weight*/
	font-weight: 600;
}

/* 
 * DS-UX - Fonts - end
 */

/* 
 * DS-UX - Generic styling - begin
 */
.olm-hide-over-y {
	overflow-y: hidden;
}

.olm-hide-over-x {
	overflow-x: hidden;
}

.olm-no-wrap {
	white-space: nowrap;
}

.olm-display-inline {
	display: inline;
}

.olm-tile-title-label {
	font: normal 48px "Segoe UI" !important;
	white-space: nowrap;
}

.olm-green-color {
	color: #B4D88B !important;
}

.olm-dark-green-color{
color: green !important;
}

.olm-sub-heading-text {
	font: normal 12px "Segoe UI" !important;
	color: rgb(0, 0, 0);
	white-space: nowrap;
}

.olm-orange-color {
	color: rgb(243, 115, 33) !important;
}

.olm-text-align-center {
	text-align: center !important;
}

.olm-text-align-right {
	text-align: right !important;
}

.olm-text-align-right-strike{
	text-align: right !important;
	text-decoration: line-through;
}

.olm-text-ellipsis {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow-x: hidden;
}

.olm-text-over-ellipsis {
	text-overflow: ellipsis;
}

.olm-text-align-justify {
	text-align: justify;
}

.olm-white-color {
	color: rgb(255, 255, 255) !important;
}

.olm-black-color {
	color: rgb(0, 0, 0) !important;
}

.olm-red-color {
	color: rgb(235, 34, 34) !important;
}

.olm-payment-panel-text {
	font: normal 10px "Segoe UI" !important;
	color: rgba(0, 0, 0, 0.8);
	line-height: 12px !important;
}

.olm-field-text-grey-small {
	font: normal 11px "Segoe UI" !important;
	color: #333333;
}

.olm-disabled {
	opacity : 0.3;
}

.olm-override-disabled {
	opacity : 0.5;
}
.olm-enabled {
	opacity : 1;
}
.olm-errorMessage-text-label {
	font: italic 12px "Segoe UI" !important;
	color: rgb(225, 128, 102);	
}
.olm-field-text-grey-bold {
	font: bold 12px "Segoe UI" !important;
	color: #333333;
}

.olm-field-text-light-grey-bold {
	font: bold 12px "Segoe UI" !important;
	color: #737373;
}
.olm-details-text-grey {
	font: bold 15px "Segoe UI" !important;
	color: #737373;
	display: block;
	white-space: nowrap;
}
.olm-mdf-heading {	
	font: bold 16px "Segoe UI" !important;
}

.olm-collapsible-header-text {
	font-size : 12px;
}

.olm-item-data-view .x-toolbar-text {
	font-size : 11px;
}