.x-body {
    font-family: 'Segoe UI';
}

.wt-login-screen {
	background-color:#1b3651;
}

.wt-login-logo {
	background-repeat:no-repeat;
	width: 588px !important;
	margin-left: 7px !important;
}

.wt-login-title {
	font-size: 180px;
	margin-top: 0;
	font-family: 'Myriad Pro', 'Myriad', helvetica, arial, sans-serif;
	text-shadow: 2px 3px 3px #292929;
	letter-spacing: -7px;
	-webkit-text-stroke: 1px grey;
	color: white;
}

.wt-login-tabline-lbl {
	width: 600px;
	height: 20px;
	font: bold 16.4pt arial;
	color : white;
	text-align:center;
	margin-left: 9px;
	
}
.wt-login-screen .x-form-field{
	margin: 0 0 0 0;
	font: 11pt 'Segoe UI';
	border-radius: 8px;
	border: 2px solid #3C5A76;
	height: 40px !important;
}

.wt-login-msg {
    color: white;
    font: 10pt 'Segoe UI';
    margin-left : 2px !important;
    margin-top : 2px;
}

.wt-login-lbl {
	color : white;
	font: 9pt 'Segoe UI';
	padding : 0px 5px 0px 5px;
}

.wt-login-lbl-url {
	color : white;
	font: 10pt 'Segoe UI';
	cursor : pointer;
	padding : 0px 5px 0px 5px;
	text-decoration:underline;	
}

.wt-login-lbl-url:hover {
	color: #6598cc;
}

.wt-login-lbl-url-small {
	color : white;
	font: 9pt 'Segoe UI';
	cursor : pointer;
	padding : 0px 5px 0px 5px;
	text-decoration:underline;	
}

.wt-login-lbl-url-small:hover {
	color: #6598cc;
}

.wt-login-lbl-url-noticewin {
	color : black;
	font: 10pt arial;
	cursor : pointer;
	padding : 0px 5px 0px 5px;
	text-decoration:underline;	
}

.wt-login-lbl-url-noticewin:hover {
	color: #6598cc;
}

.wt-login-noticewin {
	color : black;
	font: 9pt arial;
}

.wt-login-textfield-lbl {
	color : white;
	font: 11pt 'Segoe UI';
	line-height: 16px;
	line-height: 23px;
	margin-left: 4px;
}

.wt-login-sep {
	border-right: 1px inset white;
	margin-top: 2px !important;
}

.wt-login-malogo {
	background-image: url(/manh/resources/images/ma-logo_blue.jpg);
	height: 57px;
	width: 200px;
}

.x-window-header-text-default {
	font: bold 9pt arial;
}

.x-btn-default-small .x-btn-inner {
	font: 8pt arial;
}

.x-mask.wt-splash {
    background: #474747;
    opacity: 0.5;
}

.x-mask-msg.wt-splash, .x-mask-msg.wt-splash div {
    font:  20px 'Segoe UI';
    color: white;
    border: none;
    padding: 12px 5px 15px 5px;
    background-color: transparent;
    background-position: top center;
}

#loading-mask {
  position: absolute;
  left:     0;
  top:      0;
  width:    100%;
  height:   100%;
  background-color:#1b3651;
}

.loading-indicator {
  background: url(/images/loading.gif) no-repeat;
  position: absolute;
  left:     46%;
  top:      46%;
  height:     16px;
  width:      16px;
  margin-left: 50px;
}

.loading-msg {
  position: absolute;
  left:     46%;
  top:      46%;
  color:      white;
  font:       20px 'Segoe UI';
  text-align: center;
  height:     auto;
  width:      auto;
  margin-top: 20px;
}

.x-tip {
    width: auto !important;
}
.x-tip-body {
    width: auto !important;
}
.x-tip-body span {
    width: auto !important;
}