html , body , form , fieldset , legend , h1 , h2 , h3 , h4 , h5 , h6 , ul , ol , li , p , pre , div , span  {
	margin :  0;
	padding :  0;
	-ms-user-select :  text;
}
a.calendarItem  {
	cursor :  pointer;
	color :  #000000;
}
hr  {
	color :  #aaa;
	height :  1px;
}
img  {
	border :  0;
}
input , select , textarea  {
	color :  black;
	font-size :  12px;
	font-weight :  normal;
}
button[disabled]  {
	cursor :  default;
}
fieldset legend  {
	color :  #0A246B;
}
input.PageNumber  {
	width :  2.3em;
	height :  1em;
	padding-right :  2px !important;
	margin-right :  5px;
}
input.PageNumberText  {
	width :  2.3em;
	height :  1.1em;
	margin-left :  2px;
	margin-right :  2px;
	margin-bottom :  1px;
	padding :  0px;
	vertical-align :  bottom;
}
input.DetailNavPageNumber  {
	width :  2.5em;
	height :  1.05em;
	vertical-align :  top;
	font-size :  12px;
	border-style :  solid;
	border-color :  black;
	border-width :  1px;
	text-align :  right;
}
span.detailNavText  {
}
.actionPanelLeft  {
	display :  inline;
	float :  left;
}
.moreButtonSpan  {
	display :  inline-block;
	position :  relative;
}
.moreButtonSpanInFooter  {
	display :  inline-block;
	position :  none;
}
.actionPanelRight  {
	display :  inline;
	float :  right;
}
.actionPanelCenter  {
	display :  block;
	text-align :  center;
}
.caption  {
	display :  inline;
	height :  54px;
	overflow :  visible;
	float :  left;
	padding :  6px 6px 6px 6px;
	white-space :  nowrap;
}
.captionData  {
	font-weight :  bold;
}
.captionLeft  {
	display :  inline;
	float :  left;
	word-wrap :  break-word;
}
.captionLeftNoWrap  {
	display :  inline;
	white-space :  nowrap;
	vertical-align :  inherit;
}
span.required  {
	color :  red;
	font-weight :  bold;
	padding :  2px 2px 2px 0px;
}
span.notRequired  {
	padding :  2px 2px 2px 0px;
	visibility :  hidden;
	display :  none;
}
.menuUI8  {
	position :  absolute;
	display :  none;
	line-height :  150%;
	z-index :  1500;
}
div.pager  {
	margin-top :  2px;
	padding-bottom :  2px;
	cursor :  default;
	white-space :  normal;
}
.pagerDis  {
	color :  graytext;
	text-decoration :  none;
}
.pagerEn  {
	color :  #0a246b;
	text-decoration :  none;
}
.pagerPrev  {
	padding :  2px 2px 2px 0;
}
.pagerNext  {
	padding :  2px 2px 2px 0;
}
a.pagerDis  {
	cursor :  default;
}
.pagerNoWrap  {
	white-space :  nowrap;
	vertical-align :  bottom;
}
span.pagerNoWrap input  {
	white-space :  nowrap;
	vertical-align :  bottom;
}
span.pagerNoWrap input[type="text"]  {
	width :  30px;
	margin-left :  2px;
	margin-bottom :  0px;
}
.pagerSep  {
	padding-right :  3px;
	margin-right :  3px;
	border-right :  #777 1px solid;
}
.div.panel-page  {
	width :  100%;
	overflow-x :  auto;
	overflow-y :  hidden;
}
.div.panel-page-new-look  {
	width :  100%;
	overflow-x :  auto;
	overflow-y :  hidden;
	background :  #dedede url(../images/thbg1.gif) repeat-x top;
}
table.panelWithBorder  {
	BORDER :  black 1px solid;
	width :  100%;
}
table.panelWithoutBorder  {
	width :  100%;
}
.Panel  {
	padding :  0;
	margin-bottom :  10px;
	height :  100%;
	border :  1px solid #ccc;
}
.PanelHeader  {
	height :  20px;
	background-color :  #B6BDD1;
	color :  #0A246B;
	border-bottom :  1px solid #5475AB;
	padding :  0;
	width :  100%;
	margin :  0;
}
.PanelHeader .Left  {
	text-align :  left;
	font-weight :  bold;
}
.PanelHeader .Right  {
	text-align :  right;
}
.PanelContent  {
	width :  100%;
	padding :  5px;
}
.PanelContent td  {
	border-bottom :  1px solid #eee;
	padding :  3px 4px 3px 4px;
}
.Controls  {
	text-align :  right;
	margin :  5px 5px 5px 5px;
}
.Controls input  {
	width :  100px;
	height :  18px;
	margin :  2px 2px 2px 2px;
	text-align :  center;
	padding :  0;
	font-weight :  bold;
	border :  1px solid;
	border-top-color :  #145A7E;
	border-left-color :  #145A7E;
	border-right-color :  #036;
	border-bottom-color :  #036;
	color :  #0A246B;
	background-color :  #B6BDD1;
	border-spacing :  3px;
}
.calendar  {
	position :  relative;
	display :  none;
	border :  1px solid;
	border-color :  #fff #000 #000 #fff;
	font-size :  12px;
	cursor :  default;
	background :  Window;
	color :  WindowText;
}
.calendar table  {
	border :  1px solid;
	border-color :  #fff #000 #000 #fff;
	font-size :  12px;
	cursor :  default;
	background :  Window;
	color :  WindowText;
}
.NewButton  {
	cursor :  pointer;
	overflow :  visible;
	margin :  0;
	padding :  0 5px;
	background-color :  #E8E8E8;
	color :  #000;
	font-weight :  normal;
	font-size :  12px;
	border-top :  1px solid #aaa;
	border-right :  2px solid #777;
	border-bottom :  2px solid #777;
	border-left :  1px solid #aaa;
}
.calendar .button  {
	text-align :  center;
	padding :  1px;
	border :  1px solid;
	border-color :  ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight;
	background :  ButtonFace;
	display :  table-cell;
}
.calendar .nav  {
	background :  ButtonFace url(/lps/resources/calendar/css/menuarrow.gif) no-repeat 100% 100%;
}
.calendar thead .title  {
	font-weight :  bold;
	padding :  1px;
	border :  1px solid #000;
	background :  ActiveCaption;
	color :  CaptionText;
	text-align :  center;
}
.calendar thead .headrow  {
}
.calendar thead .daynames  {
}
.calendar thead .name  {
	border-bottom :  1px solid ButtonShadow;
	padding :  2px;
	text-align :  center;
	background :  ButtonFace;
	color :  ButtonText;
}
.calendar thead .weekend  {
	color :  #f00;
}
.calendar thead .hilite  {
	border :  2px solid;
	padding :  0;
	border-color :  ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight;
}
.calendar thead .active  {
	border-width :  1px;
	padding :  2px 0 0 2px;
	border-color :  ButtonShadow ButtonHighlight ButtonHighlight ButtonShadow;
}
.calendar tbody .day  {
	width :  2em;
	text-align :  right;
	padding :  2px 4px 2px 2px;
}
.calendar tbody .day.othermonth  {
	font-size :  80%;
	color :  #aaa;
}
.calendar tbody .day.othermonth.oweekend  {
	color :  #faa;
}
.calendar table .wn  {
	padding :  2px 3px 2px 2px;
	border-right :  1px solid ButtonShadow;
	background :  ButtonFace;
	color :  ButtonText;
}
.calendar tbody .rowhilite td  {
	background :  Highlight;
	color :  HighlightText;
}
.calendar tbody td.hilite  {
	padding :  1px 3px 1px 1px;
	border-top :  1px solid #fff;
	border-right :  1px solid #000;
	border-bottom :  1px solid #000;
	border-left :  1px solid #fff;
}
.calendar tbody td.active  {
	padding :  2px 2px 0 2px;
	border :  1px solid;
	border-color :  ButtonShadow ButtonHighlight ButtonHighlight ButtonShadow;
}
.calendar tbody td.selected  {
	font-weight :  bold;
	border :  1px solid;
	border-color :  ButtonShadow ButtonHighlight ButtonHighlight ButtonShadow;
	padding :  2px 2px 0 2px;
	background :  ButtonFace;
	color :  ButtonText;
}
.calendar tbody td.weekend  {
	color :  #f00;
}
.calendar tbody td.today  {
	font-weight :  bold;
	color :  #00f;
}
.calendar tbody td.disabled  {
	color :  GrayText;
}
.calendar tbody .emptycell  {
	visibility :  hidden;
}
.calendar tbody .emptyrow  {
	display :  none;
}
.calendar tfoot .footrow  {
}
.calendar tfoot .ttip  {
	background :  ButtonFace;
	padding :  1px;
	border :  1px solid;
	border-color :  ButtonShadow ButtonHighlight ButtonHighlight ButtonShadow;
	color :  ButtonText;
	text-align :  center;
}
.calendar tfoot .hilite  {
	border-top :  1px solid #fff;
	border-right :  1px solid #000;
	border-bottom :  1px solid #000;
	border-left :  1px solid #fff;
	padding :  1px;
	background :  #e4e0d8;
}
.calendar tfoot .active  {
	padding :  2px 0 0 2px;
	border-top :  1px solid #000;
	border-right :  1px solid #fff;
	border-bottom :  1px solid #fff;
	border-left :  1px solid #000;
}
.calendar .combo  {
	position :  absolute;
	display :  none;
	width :  4em;
	top :  0;
	left :  0;
	cursor :  default;
	border :  1px solid;
	border-color :  ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight;
	background :  Menu;
	color :  MenuText;
	font-size :  12px;
	padding :  1px;
	z-index :  100;
}
.calendar .combo .label , .calendar .combo .label-IEfix  {
	text-align :  center;
	padding :  1px;
}
.calendar .combo .label-IEfix  {
	width :  4em;
}
.calendar .combo .active  {
	padding :  0;
	border :  1px solid #000;
}
.calendar .combo .hilite  {
	background :  Highlight;
	color :  HighlightText;
}
.calendar td.time  {
	border-top :  1px solid ButtonShadow;
	padding :  1px 0;
	text-align :  center;
	background-color :  ButtonFace;
}
.calendar td.time .hour , .calendar td.time .minute , .calendar td.time .ampm  {
	padding :  0 3px 0 4px;
	border :  1px solid #889;
	font-weight :  bold;
	background-color :  Menu;
}
.calendar td.time .ampm  {
	text-align :  center;
}
.calendar td.time .colon  {
	padding :  0 2px 0 3px;
	font-weight :  bold;
}
.calendar td.time span.hilite  {
	border-color :  #000;
	background-color :  Highlight;
	color :  HighlightText;
}
.calendar td.time span.active  {
	border-color :  #f00;
	background-color :  #000;
	color :  #0f0;
}
INPUT.spin-button  {
	padding-right :  20px;
	background-repeat :  no-repeat;
	background-position :  100% 0%;
	background-image :  url(../../spin/images/spinbtn_updn.gif);
	MARGIN :  0px;
	WIDTH :  65px;
}
INPUT.spin-button.up  {
	cursor :  pointer;
	background-position :  100% -18px;
}
INPUT.spin-button.down  {
	cursor :  pointer;
	background-position :  100% -36px;
}
.colorCell  {
	WIDTH :  10px;
	HEIGHT :  10px;
	FONT-SIZE :  5px;
	CLEAR :  none;
	DISPLAY :  inline;
	POSITION :  static;
}
.colorText  {
	CLEAR :  none;
	DISPLAY :  inline;
	POSITION :  static;
}
.chartLegendForLoads  {
	PADDING-RIGHT :  1px;
	PADDING-LEFT :  6px;
	PADDING-BOTTOM :  2px;
	PADDING-TOP :  2px;
	width :  447px;
}
.chartLegend  {
	PADDING-RIGHT :  1px;
	PADDING-LEFT :  6px;
	PADDING-BOTTOM :  2px;
	PADDING-TOP :  2px;
}
.colorCellWM  {
	WIDTH :  20px;
	HEIGHT :  20px;
	FONT-SIZE :  10px;
	CLEAR :  none;
	DISPLAY :  inline;
	POSITION :  static;
}
.colorTextWM  {
	CLEAR :  none;
	DISPLAY :  inline;
	POSITION :  static;
}
.chartLegendForLoadsWM  {
	PADDING-RIGHT :  1px;
	PADDING-LEFT :  6px;
	PADDING-BOTTOM :  2px;
	PADDING-TOP :  2px;
	width :  447px;
}
.chartLegendWM  {
	PADDING-RIGHT :  1px;
	PADDING-LEFT :  6px;
	PADDING-BOTTOM :  2px;
	PADDING-TOP :  2px;
}
.overlaypop  {
	display :  block;
	position :  fixed;
	left :  205px;
	top :  1px;
	z-index :  9000;
	margin :  0;
	padding :  0;
	border :  1px solid #000;
	background-color :  #DAEBFE;
	white-space :  nowrap;
}
.overlaypophdr  {
	padding :  0 20px 0 3px;
}
.overlaypoptitle  {
	min-height :  0;
	line-height :  12px;
	font-weight :  normal;
	font-size :  12px;
}
.overlaypoptitle > img  {
	margin :  1px 4px 0 0;
	vertical-align :  top;
}
.overlaypopclose  {
	top :  1px;
	right :  3px;
	position :  absolute;
	cursor :  pointer;
}
.overlaypopbdr  {
	padding :  0 2px 2px;
	background-color :  #DAEBFE;
}
.overlaypopbody  {
	border :  1px solid #999;
	background-color :  #fff;
}
.overlaypopcon  {
	height :  48px;
	margin :  0;
}
*#overlaypopconid  {
	overflow-y :  auto;
	overflow-x :  hidden;
	min-width :  180px;
	max-width :  auto;
}
.overlayerrorList  {
	list-style-position :  outside;
	white-space :  nowrap;
	padding :  0 23px 0 22px;
}
.overlayerrorList a  {
	padding :  0 0.5em;
	color :  #00f;
}
.overlayerror  {
	white-space :  normal;
}
.overlaywarning  {
	white-space :  normal;
}
.overlayinfo  {
	white-space :  normal;
}
*#overlaymsgPop  {
	z-index :  6000;
	border :  1px solid #E20000;
}
*#overlaymsgPop > .overlaypophdr , *#overlaymsgPop > .overlaypopbdr  {
	background :  #ffffcc;
}
.accumctl  {
	vertical-align :  top;
}
.accumbtns  {
	padding :  1.1em 5px 0pt;
	text-align :  center;
	vertical-align :  middle;
}
.accumbtns > .btn , .accumbtns > .btnvsep  {
	width :  120px;
}
.accumbtns > .button  {
	width :  120px;
}
.groupBtnSpace  {
	margin-right :  17px;
}
.pnlheader  {
	width :  inherit;
	width :  auto;
	margin-left :  5px;
}
.pnlheader span  {
	FONT-WEIGHT :  bold;
	background :  transparent;
}
.pnlfieldset  {
	border :  1px solid #AAA;
	display :  inline;
	vertical-align :  top;
	margin-left :  15px;
	padding :  10px;
	margin-right :  5px;
	margin-bottom :  5px;
	margin-top :  5px;
}
.pnltopdiv  {
	margin :  0;
	visibility :  visible;
	display :  block;
	clear :  both;
	padding :  5px 0px 5px 0px;
}
.pnltopdivhidden  {
	margin :  0;
	visibility :  hidden;
	display :  none;
}
.pnlcondivhdr  {
	margin-left :  5px;
}
.pnlcondiv  {
	margin-left :  10px;
}
.signoutpopclose  {
	RIGHT :  3px;
	CURSOR :  pointer;
	POSITION :  absolute;
	TOP :  3px;
}
.signoutpophdr  {
	PADDING-RIGHT :  40px;
	BORDER-TOP :  #fff 1px solid;
	PADDING-LEFT :  4px;
	PADDING-BOTTOM :  2px;
	BORDER-LEFT :  #fff 1px solid;
	PADDING-TOP :  1px;
	TEXT-ALIGN :  left;
}
.signoutpoptitle  {
	FONT-WEIGHT :  bold;
	MIN-HEIGHT :  17px;
	WHITE-SPACE :  nowrap;
}
.signoutpoptitle > img  {
	margin :  1px 4px 0 0;
	vertical-align :  top;
}
.signoutpopbody  {
	BORDER-RIGHT :  #999 1px solid;
	BORDER-TOP :  #999 1px solid;
	BORDER-LEFT :  #999 1px solid;
	BORDER-BOTTOM :  #999 1px solid;
	BACKGROUND-COLOR :  #fff;
}
.signoutbtn , .signoutbtnfocus , .btndft  {
	min-width :  4em;
	overflow :  visible;
	margin :  3px 2px;
	margin-left :  auto;
	padding :  0 0.4em 1px;
	font-size :  96%;
	text-align :  center;
	border :  1px solid;
	border-top-color :  #8DC187;
	border-left-color :  #8DC187;
	border-bottom-color :  #27961F;
	border-right-color :  #27961F;
	background :  #D6ECD2 url(/lps/resources/layout/images/bgbtn.gif) repeat-x 0 0;
}
.signoutbtn:hover , .signoutbtnfocus:hover , .btndft:hover  {
	border-color :  #ffaa00;
	outline :  1px solid #2C6524;
}
.btndft  {
	border-color :  #000;
	background :  url(../images/bgbtnf.gif) #BAE1B3 repeat-x 0 0;
}
.signoutbtnfocus  {
	border-color :  #89D280;
	outline :  1px solid #000;
	background :  url(../images/bgbtnf.gif) #BAE1B3 repeat-x 0 0;
}
.signoutbtn[disabled] , .btndft[disabled]  {
	cursor :  default;
	border :  1px solid #c4c3bf;
	background :  #f1f1ed;
	outline :  none;
}
.signoutbtn > img , .signoutbtnfocus > img , .btndft > img  {
	vertical-align :  middle;
}
.signoutbtn[disabled] > img  {
	opacity :  0.24;
	filter :  alpha(opacity=22);
}
.paginationCtrlCls  {
	cursor :  pointer;
	margin :  0px 2px;
}
.paginationCtrlDisabledCls  {
	margin :  0px 2px;
	cursor :  default;
}
.fltr_capShow  {
	visibility :  visible;
	display :  block;
}
.fltr_capHide  {
	visibility :  hidden;
	display :  none;
}
.fltrbody  {
	width :  auto;
	height :  auto;
	padding :  0 1px;
	border-top :  1px solid #fff;
	border-bottom :  1px solid #fff;
	background :  #fff;
}
.fltrbody li  {
	list-style-position :  outside;
	list-style-image :  none;
	list-style-type :  none;
}
.fltrHidden  {
	visibility :  hidden;
}
div.sortImgDiv  {
	height :  6px;
	text-align :  center;
}
.titleCase  {
	text-transform :  capitalize;
}
*#appListUL li a  {
	text-decoration :  none;
}
*#appListUL li a:hover  {
	border-color :  #ffbd69;
	background :  #FFE399 url(/lps/resources/menu/images/bgfocus.png) repeat-x top;
}
.backDivClass  {
	width :  auto;
	height :  19px;
	background :  url(/lps/resources/layout/images/bgcolor1.gif) repeat-x top;
	color :  white;
}
.backDivTable  {
	visibility :  hidden;
	display :  none;
	position :  absolute;
	height :  19px;
	border :  0px;
}
.backImage1  {
	width :  5px;
	height :  19px;
}
.lTableCntr  {
	position :  relative;
	overflow :  hidden;
	background :  #d9d9d9;
	border :  1px solid #99BCE8;
}
.lTableCntr table  {
}
.lTableHeadCntr  {
	overflow :  hidden;
	position :  relative;
}
.lTreeTableHeadCntr  {
	overflow :  hidden;
	position :  relative;
}
.lTableBodyCntr  {
	z-index :  1000;
	overflow :  hidden;
	position :  relative;
}
.lTreeTableBodyCntr  {
	overflow :  hidden;
	position :  relative;
}
.lTableHeadCntr > TABLE > THEAD > TR.lTableGrpByRow  {
	margin :  0;
}
.lTableGrpByRow > th  {
	border-bottom :  1px solid #a6a6a6;
	border-right :  0;
	border-left :  0;
	border-top :  0;
}
.lTableHdr  {
	margin :  0;
	padding :  0;
	border :  0;
	cursor :  default;
}
.lTreeTableHdr  {
	margin :  0;
	padding :  0;
	border :  0;
	cursor :  default;
}
.lTableBodyRow  {
	margin :  0;
	padding :  0;
	border :  0;
	vertical-align :  top;
	cursor :  default;
}
.lTreeTableBodyRow  {
	margin :  0;
	padding :  0;
	border :  0;
	vertical-align :  top;
	cursor :  default;
}
.lTableHdrCell , .lTableBodyCell  {
	border-top :  1px dotted #EDEDED;
	white-space :  nowrap;
	overflow :  hidden;
	padding :  2px 5px 2px 5px;
}
.lTreeTableHdrCell , .lTreeTableBodyCell  {
	border-bottom :  1px dotted #EDEDED;
	white-space :  nowrap;
	overflow :  hidden;
	padding :  2px 5px 2px 5px;
}
.lTableHdrCell  {
	padding-right :  0px;
}
.lTreeTableHdrCell  {
	padding-right :  0px;
}
.lTableHdrContentWraper  {
	white-space :  nowrap;
	padding-right :  20px;
	overflow :  hidden;
}
.lTableHdrCell > div , .lTableBodyCell > div  {
	overflow :  hidden;
	position :  relative;
	white-space :  nowrap;
}
.lTreeTableHdrCell > div , .lTreeTableBodyCell > div  {
	overflow :  hidden;
	position :  relative;
	white-space :  nowrap;
}
.lTableSelect  {
	vertical-align :  middle;
}
.lTableBodyCntr TABLE TBODY TR.selected  {
	BACKGROUND :  url(../../table/images/lTablebgsltrow.gif) #F7F7C5 repeat-x top;
}
.lTreeTableBodyCntr TABLE TBODY TR.selected  {
	BACKGROUND :  url(../../table/images/lTablebgsltrow.gif) #F7F7C5 repeat-x top;
}
.lTableMoveDivParent  {
	margin :  0px;
	padding :  0px;
	border :  0px;
}
.lTableMoveDiv  {
	margin :  0px;
	padding :  0px;
	border :  0px;
	overflow :  hidden;
}
.lTableMoveDiv > table  {
	height :  100%;
	margin :  0px;
	padding :  0px;
	border :  0px;
}
.lTreeTableMoveDiv  {
	margin :  0px;
	padding :  0px;
	border :  0px;
	overflow :  hidden;
}
.lTreeTableMoveDiv > table  {
	height :  100%;
	margin :  0px;
	padding :  0px;
	border :  0px;
}
.lTableSortImgDiv  {
	height :  6px;
	font-size :  6px;
	text-align :  center;
}
.lTableSortCol  {
	cursor :  pointer;
}
.lTableNotSortCol  {
}
.lTableFrozenCol  {
	BACKGROUND :  url(../../table/images/lTableSortedCol.gif) #a4c5eb repeat-x top;
}
.lTableSortColSorted  {
}
.lTableSortColAsc  {
}
.lTableSortColDesc  {
}
.lTableFlyout  {
	position :  fixed;
	z-index :  2000;
	border :  1px solid;
	BACKGROUND :  #FFF;
}
.lTreeTableRow  {
}
.lTableFlyoutSep  {
	BACKGROUND :  url(/lps/resources/common/images/sepline.png) repeat-x 0px 50%;
	min-width :  100px;
	margin :  2px;
	padding :  0px;
	border :  0px;
	height :  2px;
}
.lTableoScrollDiv  {
	overflow :  scroll;
	position :  absolute;
	z-index :  1;
}
.lTreeTableoScrollDiv  {
	overflow :  scroll;
	position :  absolute;
	z-index :  1;
}
.lTableResizeSpan  {
	display :  inline;
	width :  5px;
	padding-left :  2px;
	cursor :  col-resize;
}
.lTableResLine  {
	width :  2px;
	position :  fixed;
	border-right :  2px dotted gray;
	height :  50px;
}
.lTableHrdHover  {
	position :  absolute;
	border-left :  1px solid #a6a6a6;
	padding-left :  1px;
}
.lTableBodyCntr TABLE TBODY TR.lTableFooterRow  {
	BACKGROUND :  #fff;
}
.lTableGroupFlyout  {
	position :  fixed;
	background :  #FFF;
	border :  1px solid;
	z-index :  2000;
}
.flyoutGroupDivLink , .lTableFlyout > div > a  {
	display :  block;
	margin :  0;
	padding :  1px 7px;
	color :  #004d6a;
	font-weight :  thick;
	font-size :  11px;
	border :  1px solid transparent;
	background :  none;
}
.flyoutGroupDivLink:hover , .lTableFlyout > div > a:hover  {
	border-bottom :  0px dashed;
	color :  #f7b73b;
}
.tableGroupByCntrDiv  {
	display :  block;
	background :  url(../../table/images/lTableColHdr.gif) #cbdbf0 repeat-x top;
	float :  left;
	height :  20px;
	padding-left :  5px;
	margin :  2px 10px;
}
.tableGroupByCntrDiv:hover  {
	cursor :  hand;
}
.lTableGroupText  {
	color :  #004d6a;
	font-weight :  italic;
	font-size :  12px;
	float :  left;
}
.boldFont  {
	font-weight :  bold;
	white-space :  nowrap;
	vertical-align :  middle;
}
.fltrSelMenuStyle  {
	width :  120px;
}
.disabledRowClass  {
	color :  #8E98AF;
	cursor :  default;
	text-decoration :  none;
}
*#divRequiredFD  {
	padding-right :  5px;
}
*#divOptionalFD  {
	padding-right :  5px;
}
