.srchCrtPnl 
{
	padding: 4px 1px 3px;
	border: 1px solid #aaa;
	/* For Internet Explorer 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#cccccccc, endColorstr=#FFFFFFFF);
	/* For Internet Explorer 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#cccccccc, endColorstr=#FFFFFFFF)";
	text-align: left;
}

.shadowStyleForTooltip
{
	background-color: #333; 
	position:absolute; 
	display:none; 
	z-index: 5;
}

.verticalGradientStyleForTooltipWithShadow
{
	border: 1px solid #777; 
	position:relative;
	top:-3px;
	left:-3px;
	
	/* For Internet Explorer 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#c0c0c0, endColorstr=#FFFFFFFF);
	/* For Internet Explorer 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#c0c0c0, endColorstr=#FFFFFFFF)";
}

.greyVerticalGradientColorStyle
{
	/* For Internet Explorer 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffffff, endColorstr=#cccccccc);
	/* For Internet Explorer 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffffff, endColorstr=#cccccccc)";
}

.enhancedToolTipStyle
{
	/* standard settings for tool tip*/
	width: 300px;
	height: 30px;
	border: 1px solid #aaa; 
	text-align: center; 
	vertical-align: middle;
	display:none; 
	position:absolute; 
	z-index:5;
	
	
	/* For Internet Explorer 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffffff, endColorstr=#cccccccc);
	/* For Internet Explorer 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffffff, endColorstr=#cccccccc)";
}
.customFontStyle{
	font-size: 13px;
}
.boldUnderlined
{
	font-weight: bold;
	text-decoration:underline;
}
.errorStyle
{
	color: red;
}
.errorImageShow
{
	display: block;
	height: 17px;
	width: 17px;
}
.errorImageHide
{
	display: none;
}
.errorTextBoxShow
{
	border-bottom: red 1px solid;
	border-top: red 1px solid;
	border-left: red 1px solid;
	border-right: red 1px solid;
}
.dumDivStyleShow
{
	height: 15px;
}
.dumDivStyleHide
{
	height: 0px;
}
.labelValueStyle
{
	font-weight: bold;
}
.priceOverrideRevertColorChange
{
	width:100%;
	height:100%;
}
.priceOverrideChangeColor
{
	background:#C6D9F1;
	width:100%;
	height:100%;
}
.priceOverrideFotStyle
{
	font-weight:bold;
	color:green;
}
