.phicon, .phlink {
    display: block;
    padding: 2px;
    height: 16px;
    border: 1px solid transparent;
    background-color: transparent;
    outline: none; /* FF */
}
.menulbl 
{   
    VERTICAL-ALIGN: bottom
} 

DIV.menuskin_UI08
{
    Z-INDEX: 10000;
    display:none; 
    WHITE-SPACE: nowrap;
    POSITION: absolute; 
    font-family: sans-serif;
    font-weight: normal;
    font-size: 12px; 
    font-style : normal
}

.fobodynavrc {
    width: auto;
    height: auto;
    padding: 0 1px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    /*background: #fff;*/
}


table.mm-table  div > a.selnavrcbord {
    border: 1px solid red;
}

a.currApp
{
	font-weight: bold;
}

/* css for deleted rows in filter list table */
.disabledRowClass {
    color: #8E98AF;
    cursor: default;
    text-decoration: none;
}