/* line 4, ../sass/webtop.scss */
.logo {
  position: absolute;
  bottom: 40px;
  right: 20px;
  opacity: 0.7;
}

/* line 11, ../sass/webtop.scss */
.logo div {
  position: relative;
  width: 150px;
  height: 25px;
  background-image: url(/manh/mps/resources/images/ma-logo.png);
  background-repeat: no-repeat;
}

/* line 19, ../sass/webtop.scss */
.x-body {
  font-family: "Segoe UI", Helvetica, tahoma, arial, verdana, sans-serif;
}

/* line 23, ../sass/webtop.scss */
.x-mask.wt-splash {
  background: #474747;
  opacity: 0.5;
}

/* line 28, ../sass/webtop.scss */
.x-mask-msg.wt-splash, .x-mask-msg.wt-splash div {
  font-size: 20px;
  color: #222;
  border: none;
  font-variant: small-caps;
  text-shadow: 0px 2px 3px #555;
  padding: 30px 5px 5px 5px;
  background-color: transparent;
  background-position: top center;
}

/* line 39, ../sass/webtop.scss */
.wt-topbar {
  border: none !important;
  background-color: black !important;
  background-image: none !important;
}

/* line 45, ../sass/webtop.scss */
.wt-topbar .x-btn {
  background: transparent;
  border-color: transparent;
}

/* line 50, ../sass/webtop.scss */
.wt-topbar .x-btn-over {
  background-color: #576a51;
  border-color: #1e2e19;
}

/* line 55, ../sass/webtop.scss */
.wt-topbar .x-btn-pressed, .wt-topbar .x-btn-default-toolbar-medium-menu-active {
  background-color: #1e2e19;
}

/* line 59, ../sass/webtop.scss */
.wt-form-required-label:after {
  content: '*';
  color: red;
}

/* line 64, ../sass/webtop.scss */
.wt-window-blur {
  opacity: 0.3;
}

/* line 70, ../sass/webtop.scss */
.wt-unified-wallpaper {
  border: 2px inset gray;
}

/* line 74, ../sass/webtop.scss */
.wt-unified-wallpaper .x-item-selected {
  border: 1px solid #3f4d3b;
  background-color: #838c80;
}

/* line 79, ../sass/webtop.scss */
.wt-unified-wallpaper-wrap {
  float: left;
  margin: 4px;
  margin-right: 0px;
  padding: 5px;
  border: 1px solid white;
}

/* line 86, ../sass/webtop.scss */
.wt-unified-wallpaper-icon {
  width: 128px;
  height: 96px;
}

/* line 91, ../sass/webtop.scss */
.wt-unified-wallpaper-wrap-over {
  border: 1px solid #3f4d3b;
  background-color: white;
  cursor: pointer;
}

/* line 99, ../sass/webtop.scss */
.wt-unified-taskbar-item-text {
  font-size: 14px;
  color: black;
}

/* line 105, ../sass/webtop.scss */
.wt-topbar .x-btn-inner {
  color: white;
  font-weight: bold;
}

/* line 112, ../sass/webtop.scss */
.wt-unifiedpanel {
  border: 2px inset #3f4d3b;
  background: #f6f6f6;
  background-size: 100% 100%;
}

/* line 118, ../sass/webtop.scss */
.wt-unified-panel-background {
  background: #f6f6f6;
  background-size: 100% 100%;
  border-color: transparent;
}

/* line 124, ../sass/webtop.scss */
.wt-unifiedbar-btn-pressed {
  border-color: white;
  background-color: white;
  background-image: none;
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

/* line 136, ../sass/webtop.scss */
.wt-unified-workspace-item {
  border: 2px solid white;
  box-shadow: 2px 2px 2px 2px #838c80;
  background-color: white;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
}

/* line 143, ../sass/webtop.scss */
.wt-unified-workspace-item-over {
  border: 2px solid #3f4d3b;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  background-color: white;
}

/* line 149, ../sass/webtop.scss */
.wt-unified-workspace-item-sel {
  border: 2px solid blue;
}

/* line 153, ../sass/webtop.scss */
.wt-unified-workspace-item-icon {
  cursor: pointer;
}

/* line 157, ../sass/webtop.scss */
.wt-unified-workspace-item-text {
  font-size: 14px;
  cursor: pointer;
  color: black;
}

/* line 163, ../sass/webtop.scss */
.wt-unified-workspace-btn .x-btn-inner {
  text-decoration: underline;
  cursor: pointer;
  font-size: 10px;
  color: black;
}

/* line 170, ../sass/webtop.scss */
.wt-unified-workspace-btn .x-btn-inner:hover {
  color: #3f4d3b;
}

/* line 174, ../sass/webtop.scss */
.wt-tile {
  border: 2px solid white;
  border-color: transparent;
  position: absolute;
}

/* line 180, ../sass/webtop.scss */
.wt-tile-over {
  border: 2px solid black;
}

/* line 184, ../sass/webtop.scss */
.wt-tile-title {
  font-size: 14px;
  color: white;
  padding: 4px 2px 2px 2px;
  cursor: pointer;
}

/* line 191, ../sass/webtop.scss */
.wt-tile-icon {
  padding: 2px;
}

/* line 195, ../sass/webtop.scss */
.wt-tile-content {
  padding: 2px;
}

/* line 199, ../sass/webtop.scss */
.wt-tile-unpressed {
  -webkit-transform: perspective(400px) rotateY(0deg) rotateX(0deg);
  -moz-transform: perspective(400px) rotateY(0deg) rotateX(0deg);
  -ms-transform: perspective(400px) rotateY(0deg) rotateX(0deg);
  transform: perspective(400px) rotateY(0deg) rotateX(0deg);
}

/* line 206, ../sass/webtop.scss */
.wt-tile-pressed {
  -webkit-transform: scale(0.97) perspective(400px) rotateY(0deg) rotateX(0deg);
  -moz-transform: scale(0.97) perspective(400px) rotateY(0deg) rotateX(0deg);
  -ms-transform: scale(0.97) perspective(400px) rotateY(0deg) rotateX(0deg);
  transform: scale(0.97) perspective(400px) rotateY(0deg) rotateX(0deg);
}

/* line 213, ../sass/webtop.scss */
.wt-home {
  background-image: url(/manh/mps/resources/icons/home.png) !important;
}

/* line 217, ../sass/webtop.scss */
.wt-spaces {
  background-image: url(/manh/mps/resources/icons/window.png) !important;
}

/* line 221, ../sass/webtop.scss */
.wt-window {
  background-image: url(/manh/mps/resources/icons/windows.png) !important;
}

/* line 225, ../sass/webtop.scss */
.wt-add-icon {
  background-image: url(/manh/mps/resources/icons/add.png) !important;
}

/* line 229, ../sass/webtop.scss */
.wt-edit-icon {
  background-image: url(/manh/mps/resources/icons/edit.png) !important;
}

/* line 233, ../sass/webtop.scss */
.wt-remove-icon {
  background-image: url(/manh/mps/resources/icons/delete.png) !important;
}

/* line 237, ../sass/webtop.scss */
.wt-gear-edit-icon {
  background-image: url(/manh/mps/resources/icons/gear_edit.png) !important;
}

/* line 241, ../sass/webtop.scss */
.x-btn-pressed.wt-home-over .x-btn-icon {
  background-image: url(/manh/mps/resources/icons/home_b.png) !important;
}

/* line 245, ../sass/webtop.scss */
.x-btn-pressed.wt-window-over .x-btn-icon {
  background-image: url(/manh/mps/resources/icons/windows.png) !important;
}

/* line 249, ../sass/webtop.scss */
.wt-touch-header {
  background-color: 1px Solid #33aaee;
  background-color: #33aaee;
}

/* line 254, ../sass/webtop.scss */
.wt-touch-header .x-btn-default-toolbar-small {
  background-color: #33aaee;
  border-width: 0px;
  background-image: none;
}

/* line 260, ../sass/webtop.scss */
.wt-touch-header-title {
  color: white;
}

/* line 264, ../sass/webtop.scss */
.wt-touch-header-close {
  background-image: url(/ext/resources/ext-theme-neptune/images/tools/tool-sprites.png) !important;
  background-position: 0 0;
  background-color: #33aaee !important;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

/* line 272, ../sass/webtop.scss */
.wt-touch-header-pin {
  background-image: url(/ext/resources/ext-theme-neptune/images/tools/tool-sprites.png) !important;
  background-position: 0 -144px;
  background-color: #33aaee !important;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

/* line 280, ../sass/webtop.scss */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* line 285, ../sass/webtop.scss */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background: rgba(224, 224, 244, 0.4);
  border-color: transparent;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
}

/* line 293, ../sass/webtop.scss */
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(224, 224, 224, 0.2);
}

/* line 297, ../sass/webtop.scss */
::-webkit-scrollbar-thumb:hover {
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background: rgba(224, 224, 244, 0.4);
  border-color: transparent;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
}

/* line 305, ../sass/webtop.scss */
::-webkit-scrollbar-thumb:active {
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background: rgba(224, 224, 244, 0.4);
  border-color: transparent;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
}

/* line 313, ../sass/webtop.scss */
::-webkit-scrollbar-track-piece {
  -webkit-border-radius: 0;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
}

/* line 319, ../sass/webtop.scss */
::-webkit-scrollbar-track {
  border: 1px solid transparent;
  background: transparent;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -webkit-box-shadow: none;
}

/* line 327, ../sass/webtop.scss */
::-webkit-scrollbar-track:hover {
  border: 1px solid transparent;
  background: transparent;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -webkit-box-shadow: none;
}
