
.olm-refresh-icon-hover {
	src: '../icons/refresh/refresh_hover.png';
}

.olm-align-right {
	text-align: right;
}

.olm-vertical-align-bottom {
	vertical-align: bottom;
}

.olm-item-data-view .x-toolbar {
	border: 0px;
	background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, #FEE3A1),
		color-stop(100%, #FEE3A1) ) !important;
	background-image: -ms-linear-gradient(#FEE3A1 0%, #FEE3A1 100%)
		!important;
	background-image: -moz-linear-gradient(#FEE3A1 0%, #FEE3A1 100%)
		!important;
}

.olm-notes {
	background-image: url(/manh/olm/resources/icons/notes/notes.png)
		!important;
	background-repeat: no-repeat;
}


.olm-item-list .x-tbar-page-first {
	background-image: url('../icons/paging/page_first.png') !important;
	background-position: center;
}

.olm-item-list .x-item-disabled .x-tbar-page-first {
	background-image: url('../icons/paging/page_first_disabled.png')
		!important;
	background-position: center;
}

.olm-item-list .x-tbar-page-prev {
	background-image: url('../icons/paging/page_previous.png') !important;
	background-position: center;
}

.olm-item-list .x-item-disabled .x-tbar-page-prev {
	background-image: url('../icons/paging/page_previous_disabled.png')
		!important;
	background-position: center;
}

.olm-item-list .x-tbar-page-next {
	background-image: url('../icons/paging/page_next.png') !important;
	background-position: center;
}

.olm-item-list .x-item-disabled .x-tbar-page-next {
	background-image: url('../icons/paging/page_next_disabled.png')
		!important;
	background-position: center;
}

.olm-item-list .x-tbar-page-last {
	background-image: url('../icons/paging/page_last.png') !important;
	background-position: center;
}

.olm-item-list .x-item-disabled .x-tbar-page-last {
	background-image: url('../icons/paging/page_last_disabled.png')
		!important;
	background-position: center;
}

.olm-item-list .x-tbar-btn-over {
   background-color: rgba(169, 170, 173, 1);
}

.olm-item-list .x-btn-default-toolbar-small{
	background-image: none;
	background-color: transparent
}

.olm-icon {
	width: 16px;
	height: 16px;
}

.olm-shadow {
	box-shadow: 2px 2px 5px #888;
}

.olm-outer-shadow {
	box-shadow: 0 0 5px 5px #000;
}

.olm-inset-shadow {
	-moz-box-shadow: inset 0 20px 20px -22px rgb(87, 86, 86);
	-webkit-box-shadow: inset 0 20px 20px -22px rgb(87, 86, 86);
	box-shadow: inset 0 20px 20px -22px rgb(87, 86, 86);
}

.olm-items-shadow {
	box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.47);
	-moz-box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.47);
	-webkit-box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.47);
}

.olm-shadow-gray {
	box-shadow: 2px 2x 5px #D3D3D3;
}



.olm-mouse-hand {
	cursor: pointer;
	cursor: hand;
}

.olm-mouse-pointer {
	cursor: default;
}

.olm-header-purple {
	background-color: #BCA6CF;
}

.olm-header-underline-solid-gray {
	border-bottom: 2px solid gray;
}

.olm-container-focus {
	border: 1px solid rgb(243, 115, 33);
	background-color: rgb(255, 255, 255) !important;
}

.olm-container-select {
	border: 2px solid #F37321;
}

.olm-container-selected {
	border: 2px solid rgb(243, 115, 33);
	background-color: rgb(255, 255, 255) !important;
}

/* TODO: [Jayashree] change the css class name to light-fill-gray*/
.olm-light-fill-black {
	background-color: #E6E6E6;
}
/* TODO: [Jayashree] change the css class name to dark-fill-gray*/
.olm-dark-fill-black {
	background-color: rgba(0, 0, 0, .2);
}

.olm-dark-fill-grey {
	background-color: #BFBFBF;
}

.olm-light-fill-grey {
	background-color: #D7D7D7;
}

.olm-expand-icon {
	background-image: url('../icons/collapse/expand.png');
}

.olm-collapseArrow-icon {
	background-image: url('../icons/collapse/collapseArrow.png');
}

.olm-grey-collapse-expand-arrow-icon {
	background-image: url('../icons/collapse/expandArrow.png');
}
.olm-grey-down-arrow-icon {
	background-image: url('../icons/collapse/downArrow.png');
}

.olm-white-collapse-expand-arrow-icon {
	background-image: url('../icons/collapse/expandArrowWhite.png');
}

.olm-icon-left-top {
	background-position: top left;
}

.olm-expandArrowWhite-icon {
	background-image: url('../icons/collapse/expandArrowWhite.png');
	background-position: 0 0px;
}

.olm-collapseArrowWhite-icon {
	background-image: url('../icons/collapse/expandArrowWhite.png');
	background-position: 15px 0px;
}

.olm-collapse-icon {
	background-image: url('../icons/collapse/collapse.png');
}

.olm-icon-over {
	background-position: right top !important;
}


.olm-popup-background-color {
	background-color: #ebebec !important;
}

.olm-delete-icon {
	background-image: url('../icons/common/delete.png');
}

.olm-header-underline-gray {
	border-bottom: 1px solid gray;
}

.olm-header-underline-dashed-gray {
	border-bottom: 1px dashed gray;
}

.olm-border-top-dashed-gray {
	border-top: 1px dashed gray;
}

.olm-border-right {
	border-top: none;
	border-bottom: none;
	border-left: none;
	border-right: 1px solid black;
}

.olm-border-top {
	border-top: 1px solid black;
}

.olm-border-bottom {
	border-bottom: 1px solid black;
}

.olm-border-left {
	border-left: 1px solid black;
}

.olm-header-border {
	border: 1px solid black;
	background-color: white;
	border-left-style: none;
}

.olm-returns-item-list-color {
	background-color: #9B9696;
}

.olm-background-color-white {
	background-color: white;
}

.olm-returns-item-list-header-color {
	background-color: #D3D3D3;
}

.olm-returns-estimated-refund-container-color {
	background-color: #ADD490;
}

.olm-returns-container-focus {
	border: 1px solid rgb(243, 115, 33);
}

.olm-header-background-color {
	background-color: #B2D78C !important;
}

.olm-os-header-bgcolor {
	background-color: #B4D88B !important;
}

.olm-os-line-border {
	border-top: 2px solid white;
	border-bottom: 1px solid gray;
	border-left: 2px solid white;
	border-right: 2px solid white;
}

.olm-rs-line-border {
	border-top: 2px solid white;
	border-bottom: 2px solid white;
	border-left: 2px solid white;
	border-right: 2px solid white;
}

.olm-footer-background-color {
	background-color: #E0E0E2;
}

.olm-border-all {
	border: 1px solid rgb(0, 0, 0);
	background-color: white;
}

.olm-gray-color {
	color: gray !important;
}

.olm-align-center {
	text-align: center;
}

.olm-dark-gray-background {
	background-color: #888;
}

.olm-border-all-sides {
	border: 1px solid black;
}

.olm-border-all-sides-gray {
	border: 1px solid #888;
}

.olm-border-top-gray {
	border-top: 1px solid gray;
}

.olm-border-bottom-gray {
	border-bottom: 1px solid gray;
}

.olm-border-left-gray {
	border-left: 1px solid gray;
}

.olm-border-right-gray {
	border-right: 1px solid gray;
}

.olm-black-background {
	background-color: black !important;
}

.olm-cust-communication {
	background-image: url(/manh/olm/resources/icons/notes/cust_comm.png)
		!important;
}

.olm-grouping-background-color {
	background-color: #1C1C1C;
}

.olm-border-gray {
	border: 2px solid rgba(0, 0, 0, .2);
}
/*
* Screen background colors
*/
.olm-item-screen-bgcolor {
	background-color: rgb(254, 227, 161);
}

.olm-customer-screen-bgcolor {
	background-color: #A2CEFF;
}

.olm-order-screen-bgcolor {
	background-color: #B2D78C;
}

.olm-return-screen-bgcolor {
	background-color: rgb(82, 46, 145);
}

.olm-pos-large-icon {
	background-image: url('../icons/transaction/POS_icon_L.png');
}

.olm-exchange-large-icon {
	background-image: url('../icons/transaction/XO_icon.png');
}

.olm-order-large-icon {
	background-image: url('../icons/transaction/CO_icon.png');
}

.olm-combo-readonly  input {
	background-color: rgb(230, 230, 230);
	border: none;
}

.olm-confirm-dialogue-bgcolor {
	background-color: rgb(243, 115, 33);
}

.olm-return-header-bgcolor {
	background-color: #BCA6CF;
}

.olm-delete-item-icon {
	background-image: url('../icons/common/delete_item.png');
	background-position: left;
	background-repeat: no-repeat;
}

.olm-delete-item-icon:HOVER {
	background-position: -15px 0px;
}

.olm-delete-item-disabled-icon {
	background-image: url('../icons/common/delete_item.png');
	background-position: right;
	background-repeat: no-repeat;
}

.olm-modern-tip {
	border-color: #868686;
	background-color: #DDDDDD;
}

.olm-padding-top {
	padding-top: 1px;
}

.olm-light-orange-bgcolor {
	background-color: rgb(249, 163, 70);
}

.olm-status-close-icon {
	background-image: url('../icons/common/StatusClose.png');
	background-position: right;
}

.olm-phone-icon {
	background-image: url('../icons/ds/customer/phone.png');
	background-position: left;
}

.olm-shopping-cart {
	background-image: none;
	background-color: transparent;
	border-color: transparent;
}

.olm-shopping-cart-icon {
	background-image: url('../images/ds/shopping-cart.png');
}

.olm-shopping-cart .x-btn-arrow-right {
	background-image: url('../icons/collapse/downArrow.png');
	padding-right: 19px;
}

.olm-shopping-cart-disabled .x-btn-arrow-right {
	background-image: none;
	padding-right: 19px;
}

.olm-shopping-cart-menu .x-panel-body-default {
	border-color: gray !important;
	border-top-width: 0px !important;
}

.olm-shopping-cart-menu .x-menu-body {
	background : #f0f0f0 !important;
}

.olm-shopping-cart-menu .x-menu-item-link, .x-menu-item-cmp {
	background : #f0f0f0 !important;
}

.olm-shopping-cart-menu .x-menu-item {
	white-space: normal;
}

.olm-shopping-cart-menu .olm-border-bottom {
	border-bottom-width: 0px;
}

.olm-shopping-cart-menu .olm-border-top {
	border-color: gray;
}

.olm-shopping-cart-menu .olm-dark-fill-black {
	background-color: #FFFFFF;
}

.olm-shopping-cart-menu .olm-white-color {
	color: #BFBFBF !important;
}

.olm-shopping-cart-menu .olm-footer-background-color {
	background-color: #FFFFFF;
}

.olm-shopping-cart-item .x-panel-body-default {
	border-color: gray;
}

.olm-screen {
	background-color: rgb(87, 86, 86);
}

.olm-dark-mask {
	background-color: rgb(87, 86, 86);
	background : rgb(87, 86, 86);
	z-index: 19001 !important;
}

.olm-shipment-group-border-top-black {
	border-top: 2px solid black;
}

.olm-shipment-order-line-border {
	border-top: 2px solid #D7D7D7;
	border-bottom: 2px solid #D7D7D7;
	border-left: 2px solid #D7D7D7;
	border-right: 2px solid #D7D7D7;
}

.olm-hold-icon {
	background-image: url('../icons/ds/customer/Hold.png') !important;
	background-position: left;
	width: 12px !important;
}

.olm-padding-left {
	padding-left: 5px !important;
}

.olm-link-enabled-color {
	text-decoration: underline;
}

.olm-link-disabled-color {
	color: lightgray !important;
}

.olm-text-underline {
	text-decoration: underline !important;
}

.olm-screen a:focus {
	background-color: #F37321;
}

.olm-unexpected-item-bgcolor {
	background-color: rgb(115, 89, 205);
}

.olm-tile {
	background-color: transparent !important;
}

.olm-tile-content {
	border: 1px solid black;
	background-color: rgba(255, 255, 255, 0.8) !important;
}

.olm-tile-over {
	border-color: transparent !important;
}

.olm-price-override-small {
	background-image: url('../icons/override/price_override_small.png');
}

.olm-ord-tile-icon {
	background-image: url('../icons/ds/search/order_black.png');
}

.olm-item-tile-icon {
	background-image: url('../icons/ds/search/item_black.png');
}

.olm-cust-tile-icon {
	background-image: url('../icons/ds/search/customer_black.png');
}

.olm-return-tile-icon {
	background-image: url('../icons/ds/search/return_black.png');
}

.olm-ct-border-left {
	border-top: none;
	border-bottom: none;
	border-right: none;
	border-left: 7px solid white;
}

.olm-customer-transaction .x-splitter-collapsed .x-layout-split-bottom {
	background-image: url('../icons/splitter/drag_divider.png');
	width: 116px;
}

.olm-customer-transaction .x-layout-split-bottom {
	background-position: top right;
	width: 116px;
	background-image: url('../icons/splitter/drag_divider.png');
}

.olm-disabled-hyper-link-color {
	color: #999999 !important;
}

.olm-light-grey-background {
	background-color: #E5E5E5;
}

.olm-search-trigger {
	background-image:
		url('/manh/olm/resources/icons/trigger/search_trigger.png') !important;
}

.olm-tile-bgcolor {
	background-color: white !important;
}

.olm-tile-over {
	background-color: rgba(255, 255, 255, 0.6);
}

.olm-icon-hide {
    visibility : hidden;
}
.olm-icon-show {
    visibility : visible;
}

.olm-mdf-header {
	background-color: #F1F1F1;
}
.olm-mdf-refresh {
	background-image: url('/manh/olm/mdf/resources/MD_refresh.png')
		!important;
    width: 22px;
	height: 20px;
}

.olm-item-list .x-btn-default-toolbar-small{
	background-image: none;
}

.olm-menu-icon {
	margin-right: 8px;
	background-image:url('/manh/olm/resources/icons/sort/arrow.gif') !important;
}

.olm-item-images-view table {
	border-collapse: collapse;
	border-spacing: 0;
}

.olm-item-list .x-btn-default-toolbar-small {
	background-image: none;
	background-color: transparent;
	border-width: 0px;
}

.olm-item-data-view .x-toolbar {
	border: 0px;
	background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, #FEE3A1),
		color-stop(100%, #FEE3A1) ) !important;
	background-image: -ms-linear-gradient(#FEE3A1 0%, #FEE3A1 100%)
		!important;
	background-image: -moz-linear-gradient(#FEE3A1 0%, #FEE3A1 100%)
		!important;
	padding: 2px 0 2px 2px;
	font-size: 11px;
}

.olm-returnitem-default-border {
	border: 2px solid;
	border-color : #9B9696 !important;
}

.olm-coitems-default-border {
	border: 2px solid;
	border-color : #584E91 !important;
}

.olm-image-position {
	background-position : 50% 50%;
}

.olm-displayfield-vertical-align .x-form-display-field-body {
	vertical-align : bottom;
}