.olm-receipt-expected-icon {
	background-image: url('../icons/rlm/ReceiptExpected.png');
}

.olm-pending-approval-icon {
	background-image: url('../icons/rlm/PendingApproval.png');
}

.olm-approved-icon {
	background-image: url('../icons/rlm/Approved.png');
}

.olm-condition-variance-icon {
	background-image: url('../icons/rlm/ConditionVariance.png');
}

.olm-no-variance-icon {
	background-image: url('../icons/rlm/NoVariance.png');
}

.olm-qty-and-condition-variance-icon {
	background-image: url('../icons/rlm/QtyAndConditionVariance.png');
}

.olm-qty-variance-icon {
	background-image: url('../icons/rlm/QtyVariance.png');
}

.olm-resolved-icon {
	background-image: url('../icons/rlm/Resolved.png');
}

.olm-unexpected-item-icon {
	background-image: url('../icons/rlm/UnexpectedItem.png');
}